@model IEnumerable<Seguridad_RA.Models.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuario_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_tel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_tel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.usuario_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.usuario_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.usuario_id })
        </td>
    </tr>
}

</table>
